name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics-left.svg
          base: header, activity, repositories, metadata
          config_timezone: Asia/Seoul
          plugin_languages: yes
          plugin_languages_ignored: >- 
            html, css
          plugin_languages_details: bytes-size, percentage
          token: ${{ secrets.METRICS_TOKEN }}
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics-right.svg
          base: ""
          config_timezone: Asia/Seoul
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_repositories: yes
          plugin_repositories_pinned: 4
          token: ${{ secrets.METRICS_TOKEN }}
